<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- fontawesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title> {% block title %}{% endblock %} Blog Post</title>
    <nav >
        <a class="navbar-brand"><img src="" alt=""></a>
        <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="nav">
            <ul class="navbar nav">
                <li></li>
                
                {% if g.user %}
                <li class="nav-item"><span class="nav-link text-light font-weight-bold px-3" >{{ g.user['username'] }}</span></li>
                <li class="nav-item "><a class="nav-link text-light font-weight-bold px-3" href="{{url_for('logout')}}">Log out</a></li>
                <li class="nav-item "><a class="nav-link text-light font-weight-bold px-3" href="{{url_for('members')}}">Members page</a></li>
                <li class="nav-item "><a class="nav-link text-light font-weight-bold px-3" href="{{url_for('admin')}}">admin page</a></li>
                {% else %}
                <li class="nav-item "><a class="nav-link text-light font-weight-bold px-3" href="{{url_for('index')}}">Home</a></li>
                {% endif %}
            </ul>
        </div>
        
    </nav>
    
</head>
<body>
    <section class="content">
        <header>
            {% block header %} {% endblock %}
        </header>
        
        {% for message in get_flashed_messages() %}
        <div class="flash"><h2>{{ message }}</h2></div>
        {% endfor %}
        
        {% block content %}
        {% endblock %}

        <!--fontawesome-->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
        <!--This is used for search icon. Instead putting icon manually it is loaded from fontawesome-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    </section>
</body>
<html>     
        
    