{% extends 'base.html' %}

{% block content %}
<div>
    <fieldset>
        <form action="{{ url_for('create') }}" method="post" class="create-post">
            <p style="font-weight: bold; font-size: 20px;">Title: <input type="text" size="30" name="title">
            <p style="font-weight: bold; font-size: 20px;">Text: <textarea name="text" rows="5" cols="40"></textarea>
            <p style="cursor: wait;"><input type="submit" value="Post">
            </dl>
        </form>
    </fieldset>   
</div>
{% endblock %}