{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} New Blog post{% endblock %}</h1>
{% endblock%}

{% block content %}
<div>
    <fieldset>
        <form method="post" class="create-post">
            <label for="title">Title</label>
            <input name="title" id='title' value="{{request.form['title']}}" required>
            <label for="body">Body</label>
            <textarea name="body" id="body" cols="30" rows="10">{{ request.form['body']}}</textarea>
            <input type="submit" value='save'>
        </form>
    </fieldset>   
</div>
{% endblock %}