{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form  method="post" style="background-color:#B85B14; font-family: serif; font-size: 20px;">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="Roles">Select a role</label>
    <div>
      <input type="radio" name="role" id="admin" value="admin">
      <label for="admin">Admin</label>
      <input type="radio" name="role" id="superadmin" value="superadmin">
      <label for="admin">Superadmin</label>
    </div>
    
    <input type="submit" value="Log In" style="background-color: #FC7307;">
  </form>
{% endblock %}