{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Members{% endblock %}</h1>
  {% if g.user %}
  <a class="action" href="{{ url_for('create') }}">Create a new post</a>
  {% endif %}
{% endblock %}

<br>
{% block content %}
<br><br>
<div class="container-fluid">
    <div class="card-deck w-60" style="text-align: center;">
        <div class="card text-white" style="background-color: #341C09">
            <div class="card-body">
            {#<h5 class="card-title">View Posts</h5>#}
            <p class="card-text"><a href='{{ url_for("index") }}'>View posts</a></p>
            </div>
            <div class="card-footer">
            </div>
        </div>
        <div class="card text-white" style="background-color: #341C09">
            <div class="card-body">
            {#<h5 class="card-title">Create Post</h5>#}
            <p class="card-text"><a href='{{ url_for("create") }}'>Create a blog</p>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>

    
    </div>

{% endblock %}