{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
  <a class="action" href="{{ url_for('create') }}">Create a new post</a>
  {% endif %}
{% endblock %}

{% block content %}
{% for blog in blogs %}
    <div class='row'>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class='card'  style="width: 18rem;">
                <div class="card-body">
                    <article>
                        <header>
                            <h1 class="card-title">{{ blog['title'] }}</h1>
                        </header>
                        {# button to trigger modal #}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Read blog</button>
                        <p class="card-text">{{ blog['body'] }}</p>
                        <footer>
                        {% if g.user %}
                        <p>Created by {{ g.user['username'] }}</p>
                        {% endif %}
                        {% for user in users.find() %}
                            {% if g.user['id'] == user['id'] %}
                            <p><a class="action" href="{{ url_for('update', id=blog['id']) }}">Edit Post</a></p>
                            {% endif %}
                        </footer>
                        {% endfor %}
                    </article>
                    {% if not loop.last %}
                    <hr>
                    {%endif%}
                </div>
            </div>
        </div>
        {% else %}
            <div> <h1>No posts available</h1></div>
        {% endfor %}           
    </div>
    {% for blog in blogs %}
    <div class="modal fade" id="exampleModalLong" tabindex="-1" aria-labelledby="exampleModalLongTitle" aria-hidden='true'>
        <div class="modal-dialog" role='document'>
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">{{ blog['title'] }}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ blog['body']}}</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismis="modal">Close</button>
                    {% if g.user %}
                        <p>Created by {{ g.user['username'] }}</p>
                    {% endif %}
                    {% for user in users.find() %}
                        {% if g.user['id'] == user['id'] %}
                        <button><a class="action" href="{{ url_for('update', id=blog['id']) }}">Edit Post</a></button>
                        {% endif %}
                    {% endfor %}

                </div>

            </div>

        </div>

    </div>
    {% endfor %}
{% endblock content %}