<!DOCTYPE html>
<html>
    <head>
        <title>Blog posts</title>
    </head>
    <body>
        <div class="blogs">
            {% for blog in blogs %}
              <div>
                    <center><h2>{{ blog.title }}</h2></center> 
                    <center><p>{{ blog.text }}</p></center>
                    
                </div>
            {% else %}
              <div>No blogs available</div>
            {% endfor %}
        </div>
        <div>
            <h2><a href="{{ url_for('index')}}">Add more posts</a></h2></div>
    </body>
</html>