{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form  method="post" style="background-color:#B85B14; font-family: serif; font-size: 20px;">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="acess">Access</label>
    <div>
      <input type="radio" name="access" id="user" value="user">
      <label for="admin">user</label>
      <input type="radio" name="access" id="admin" value="admin">
      <label for="admin">admin</label>
    </div>
    <input type="submit" value="Register" style="background-color: #FC7307;">
  </form>
{% endblock %}